<html>
    <head>
        <?php
      //      if(isset($_SESSION['MESSAGE_DELETE'])) {echo '<p>'.$_SESSION['MESSAGE_DELETE'].'</p>' ;}
      //          unset($_SESSION['MESSAGE_DELETE']);
      //      if(isset($_SESSION['messages']['login'])) {echo '<li>'.$_SESSION['messages']['login'].'</li>' ;}
      //          unset($_SESSION['messages']['login']);
      //  ?>
        <title>Comment List</title>
    </head>
    <body>
        <h1 align='center'>Comments</h1>
    <table>
        <tr>
        <th width="5%">ID</th>
        <th width="10%">Author</th>
        <th>Body</th>
        <th width="10%">Created</th>
        <th width="5%">Displayed</th>
        <th width="5%">Blog ID</th>
        <th width="5%">Edit</th>
        <th width="5%">Delete</th>
    </tr>
    </table>


