<html>
    <head>
        <?php
            if(isset($_SESSION['MESSAGE_DELETE'])) {echo '<p>'.$_SESSION['MESSAGE_DELETE'].'</p>' ;}
                unset($_SESSION['MESSAGE_DELETE']);
            if(isset($_SESSION['messages']['login'])) {echo '<li>'.$_SESSION['messages']['login'].'</li>' ;}
                unset($_SESSION['messages']['login']);
        ?>
        <title>Blog Posts</title>
    </head>
    <body>
        <h1 align='center'>Blog Posts </h1>
    <table>
        <tr>
        <th width="5%">ID</th>
        <th>Title</th>
        <th>Body</th>
        <th width="5%">Published</th>
        <th width="5%">Edit</th>
        <th width="5%">Delete</th>
    </tr>
   <?php
   echo $list_blog_posts;
     echo $list_blog_posts2;
   ?>
    </table>
