
   <?php foreach($vars['comments'] as $comment) : ?>
        <div class="title">
        <h2>From : <?php echo htmlspecialchars($comment['author']) ;?></h2>


         <p><?php echo substr(htmlspecialchars($comment['comment_body']), 0, 300) ; ?></p>

            </div>
            <?php endforeach  ?>
            </div>


    <form method='post'>
        <div>
            <label for='author'><h2>* Your Name :</h2><br> </label>
            <input type='text' id='author' name='author' class="text-field" placeholder='Type your name here ' value='<?php if(isset($author)){ echo $author; }?>'required/>
        </div>
        <div>
            <br>
            <label for='commentBody'><h2>* Your Comment:</h2><br></label>
            <textarea id='comment_body' name='comment_body' class="textarea" placeholder='Type your comment here' required><?php if(isset($commentBody)){ echo $commentBody; }?></textarea>
        </div>
        <div style="display:none">
            <br>
            <label for='displayed'>Displayed :</label>
            <input type='checkbox' id='displayed' name='displayed' checked/>
        </div>
        <div>
                <br>
                 <input class='buttons' type='submit' value='Submit'/>
            </div>
            </form>
