<div class="page padding-bottom">
 <div class="content_wrap">
   <div class="left-panel">
     <div class="generic-content">
       <div class="title">
         <h1>Contact us</h1>
         <h2>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</h2>
       </div>
       <div class="content">
         <div class="address martop">
           <div class="panel">
             <div class="title">
               <h1>Address - 01</h1>
             </div>
             <div class="content">
               <p>Block No:5, Some where Road,<br />
                 City name, State, Country name</p>
               <p class="padTop"><span>Phone :</span> 000 888 88888</p>
               <p><span>Email :</span> <a href="mailto:info@companyname.com">info@companyname.com</a></p>
             </div>
           </div>
           <div class="panel marginTop">
             <div class="title">
               <h1>Address - 02</h1>
             </div>
             <div class="content">
               <p>Block No:5, Some where Road,<br />
                 City name, State, Country name</p>
               <p class="padTop"><span>Phone :</span> 000 888 88888</p>
               <p><span>Email :</span> <a href="mailto:info@companyname.com">info@companyname.com</a></p>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="clear"></div>
   </div>
