<link href="../css/styles2.css" rel="stylesheet" type="text/css" />
<title><?php echo $vars['pageTitle'];?></title>
<h1>Login</h1>
<form method='post'>
    <div>
        <label for='username'>Username</label>
        <input class='box' type='text' id='username' name='username' placeholder="Enter your username" value='<?php if(isset($vars['username'])){ echo htmlspecialchars($vars['username']); } ?>' required>
    </div>
     <div>
        <label for='password'>Password</label>
        <input class='box' type='password' id='password' name='password' placeholder="Enter your password" required>
    </div>
     <div>
        <input class='button' type='submit' value='Login'/>
    </div>
</form>
